<span style="left: 13.82%; top: 16.3%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif;" role="presentation" dir="ltr">1</span><span style="left: 14.79%; top: 16.3%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.953608);" role="presentation" dir="ltr">. There is data in a table (pick some table from AdventureWorksLT with significant amount of data)</span>  
<span style="left: 16.09%; top: 17.72%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.972127);" role="presentation" dir="ltr">and this data should be copied to another table with the name</span> <span style="left: 64.41%; top: 17.72%; font-size: calc(var(--scale-factor)*9.96px); font-family: monospace;" role="presentation" dir="ltr">{</span><span style="left: 65.25%; top: 17.72%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.868018);" role="presentation" dir="ltr">tablename</span><span style="left: 72.69%; top: 17.72%; font-size: calc(var(--scale-factor)*9.96px); font-family: monospace;" role="presentation" dir="ltr">}</span> <span style="left: 74.13%; top: 17.72%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.951091);" role="presentation" dir="ltr">Backup.</span> <span style="left: 81.21%; top: 17.72%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.947407);" role="presentation" dir="ltr">Show the</span>  
<span style="left: 16.09%; top: 19.14%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.958849);" role="presentation" dir="ltr">difference in time execution between standard SQL query and cursors by creating 2 appropriate</span>  
<span style="left: 16.09%; top: 20.56%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.922939);" role="presentation" dir="ltr">examples and running appropriate tests.</span>  
<span style="left: 16.09%; top: 21.98%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(1.00445);" role="presentation" dir="ltr">[2p]</span>

In [ ]:
    SET NOCOUNT ON;

In [32]:
-- PROCEDURA KOPIUJĄCA ZA POMOCA CURSOR
CREATE OR ALTER PROCEDURE CURSOR_BACK_UP
AS
	BEGIN;
        -- TWORZENIE TABLICY Z BACKUP'EM
		DROP TABLE IF EXISTS _Backup;
		CREATE TABLE _Backup(
            Name VARCHAR(MAX),
			ProductNumber VARCHAR(MAX)
		);


		DECLARE 
			@p_name VARCHAR(MAX),
			@p_number VARCHAR(MAX);

		DECLARE back_up CURSOR 
		FOR
			SELECT 
				P.Name, 
				P.ProductNumber
			FROM [SalesLT].[Product] as P;

		OPEN back_up;

		FETCH NEXT FROM back_up INTO
			@p_name,
			@p_number;


		WHILE @@FETCH_STATUS = 0
			BEGIN;
				INSERT INTO _Backup(Name, ProductNumber)
					VALUES(
						@p_name,
						@p_number);
						
				FETCH NEXT FROM back_up INTO
					@p_name,
					@p_number;
			END;

		CLOSE back_up;

		DEALLOCATE back_up;
	

	END;

In [33]:
-- PROCEDURA WYKRZYSTUJĄCA INSERT DO TWORZENIA NOWEJ TABLICY 
CREATE OR ALTER PROCEDURE  INSERT_BACK_UP
AS
	BEGIN;
	-- TWORZENIE TABLICY Z BACKUP'EM

	DROP TABLE IF EXISTS _Backup;
	CREATE TABLE _Backup(
		Name VARCHAR(MAX),
		ProductNumber VARCHAR(MAX)
	);


	INSERT INTO [dbo].[_Backup](name, ProductNumber)
		SELECT 
			Name, 
			ProductNumber
		FROM 
			[SalesLT].[Product];

	END;

Porównanie czasu działania tworzenia tablic za pomocą kursorów oraz insert

In [37]:
EXECUTE EXECUTE_TIME;

cursor_time,insert_time
2360,26