<span style="left: 13.82%; top: 40.91%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif;" role="presentation" dir="ltr">4</span><span style="left: 14.79%; top: 40.91%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.963477);" role="presentation" dir="ltr">. Create tables</span> <span style="left: 25.96%; top: 40.91%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.967193);" role="presentation" dir="ltr">Employees(ID, SalaryGros)</span> <span style="left: 46.26%; top: 40.91%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.898298);" role="presentation" dir="ltr">and</span> <span style="left: 49.32%; top: 40.91%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.976415);" role="presentation" dir="ltr">SalaryHistory(ID, EmployeeID, Year, Month, SalaryNet,</span>  
<span style="left: 16.09%; top: 42.33%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.975105);" role="presentation" dir="ltr">SalaryGros)</span><span style="left: 24.83%; top: 42.33%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif;" role="presentation" dir="ltr">.</span> <span style="left: 26.35%; top: 42.33%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.950617);" role="presentation" dir="ltr">Implement a procedure that for a month number (given as a parameter) computes</span>  
<span style="left: 16.09%; top: 43.75%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.946562);" role="presentation" dir="ltr">the salary to be paid out, based on:</span>

- <span style="left: 19.77%; top: 46.12%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.962355);" role="presentation" dir="ltr">the current salary (</span><span style="left: 34.02%; top: 46.12%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.929871);" role="presentation" dir="ltr">Employees.SalaryGros</span><span style="left: 50.32%; top: 46.12%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(1.17542);" role="presentation" dir="ltr">),</span>
- <span style="left: 19.77%; top: 48.01%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.938008);" role="presentation" dir="ltr">all previous salaries this year to determine tax deductions,</span>
- <span style="left: 19.77%; top: 49.9%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.951552);" role="presentation" dir="ltr">the following tax thresholds need to be considerd:</span> <span style="left: 58.25%; top: 49.9%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.937539);" role="presentation" dir="ltr">17% for persons whose income does not&nbsp;</span>  exceed 120000 PLN/year and 15300 + 32% applied to the income above 120000 for other persons (i.e., whose income is above the threshold).

<span style="left: 16.09%; top: 55.11%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.937878);" role="presentation" dir="ltr">Please take into account that an employee may be employed in any month during the year.<br>Create&nbsp;</span> <span style="left: 16.09%; top: 56.53%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.93679);" role="presentation" dir="ltr">also a table for logging the situations in which the salary could not be determined, e.g. because of</span>  
<span style="left: 16.09%; top: 57.95%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.939385);" role="presentation" dir="ltr">a missing salary in one of the previous months (note that this doesn’t contradict with the situation</span>  
<span style="left: 16.09%; top: 59.37%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.944755);" role="presentation" dir="ltr">where employment starts not from January).</span>  
<span style="left: 16.09%; top: 61.26%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.930781);" role="presentation" dir="ltr">This task should be implemented using cursors.</span>  
<span style="left: 16.09%; top: 63.16%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(0.936817);" role="presentation" dir="ltr">Remark: possibly consider a slight modification to the schema of SalaryHistory table.</span>  
<span style="left: 16.09%; top: 64.58%; font-size: calc(var(--scale-factor)*9.96px); font-family: sans-serif; transform: scaleX(1.00445);" role="presentation" dir="ltr">[3p]</span>

In [2]:
DROP TABLE IF EXISTS Employees;
DROP TABLE IF EXISTS SalaryHistory;

CREATE TABLE Employees(
    ID INT IDENTITY PRIMARY KEY,
    SalaryGros FLOAT
);

CREATE TABLE SalaryHistory(
    ID INT NOT NULL IDENTITY PRIMARY KEY,
    [Year] INT NOT NULL,
    [Month] INT NOT NULL,
    SalaryNet FLOAT ,
    SalaryGros FLOAT NOT NULL
);

In [ ]:
INSERT INTO Employees(SalaryGros)
    VALUES
        (100000.00),
        (150000.00),
        (231000.00),
        (53000.00);

INSERT INTO SalaryHistory([Year],[Month],SalaryGros)
    VALUES
        (1999,02,)